h2{
    color: skyblue;
    font-style: oblique;
}

h3,h4{
    font-style: italic;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
