h2{
    color: skyblue;
    font-style: oblique;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.grid{
    border: 2px solid black;
    border-radius: 50px
}

.animal{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}